doctype html
html(lang='pl')
  head
    title BIQmap
    link(href='https://fonts.googleapis.com/css?family=Lato:100', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script.
      //var basic_url = 'http://php.local/biqmap/public';
      //var csrf_token = 'EsjWQdIvOn1iz3jfnZN8XTPCoUQ9GbcmjMuVdPgN';

    link(rel='stylesheet', href='css/project.css')
    // colorpicker start
    link(rel='stylesheet', media='screen', type='text/css', href='colorpicker/css/colorpicker.css')
    script(type='text/javascript', src='colorpicker/js/colorpicker.js')
    // colorpicker stop
    link(rel='stylesheet', href='css/admin.css')
    head
  body
    section#toolbar_top
      span.logo
        |biqmap 

      button.save
        |save

      button.delete
        |delete

      select.select_maps
        option(id='new_map')
          |nowa mapa

      span.menu_right

        a(href='/maps') mapa
        a(href='/projects') projekt

        |  Jesteś zalogowany jako: 
        strong= login
        
        a(href='/logout') wyloguj się
    
    #layers

    #legends

    #palets
      | kolumna kategorii: 
      select.category
      |<br /> kolumna wartości: 
      select.value
      #select
      #all

    #excel
      input(type="file")
      button 
        | wczytaj plik excel
      
      div.table

    #cloud
      textarea

    #canvas_box
      #canvas_cloud
      #canvas_wrapper
        canvas#main_canvas(nameclick='canvas', width='700px', height='400px')
        #image_resize(nameclick='image_resize')
      #right_resize(nameclick='right_resize')
      #bottom_resize(nameclick='bottom_resize')
    
    #pointer_box
      h2 -- pointery --
      label Pokaż wszystkie punkty:
      .switch.switch-on(obj='pointers', name='show_all_point', value='true')
        div
      label odstęp poziomy:
      input.input_base(type='text', value='1', obj='pointers', name='padding_x')
      button.increment(obj='pointers', nameinput='padding_x') +
      button.decrement(obj='pointers', nameinput='padding_x') -
      label odstęp pionowy:
      input.input_base(type='text', value='1', obj='pointers', name='padding_y')
      button.increment(obj='pointers', nameinput='padding_y') +
      button.decrement(obj='pointers', nameinput='padding_y') -
      label przesunięcie modulo:
      .switch.switch-off(obj='pointers', name='translate_modulo', value='false')
        div
      label wielkość:
      input.input_base(type='text', value='10', obj='pointers', name='size_pointer')
      button.increment(obj='pointers', nameinput='size_pointer') +
      button.decrement(obj='pointers', nameinput='size_pointer') -
      label rodzaj:
      select.select_base(name='main_kind', obj='pointers')
        option(name='square') square
        option(name='circle') circle
        option(name='hexagon') hexagon
        option(name='hexagon2') hexagon2

    script(src='js/project.js')
